@font-face {
    font-family: 'Source Sans Pro';
    src: local('Bebas Neue Thin'),
    local('BebasNeue-Thin'),
    url('bebasneuethin.woff2') format('woff2'),
    url('bebasneuethin.woff') format('woff'),
    url('bebasneuethin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }
  /* <link
  href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap"
  rel="stylesheet"
/> */